.project-form {
    display: flex;
    flex-direction: column;
    border: solid;
    padding: 10px;
}

.project-entry {
    display: flex;
    flex-direction: row;
}

.project-entry>* {
    margin: 0;
    padding: 0;
}

.project-label {
    flex: 1 1;
}

.project-name {
    flex: 3 3;
    font-size: 3vw;
}