.project-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header {
    padding-bottom: 20px;
}

.project-name {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    border-top: 3px solid rgb(219, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.remove-project:hover {
    background-color: red;
}

@media (max-width: 500px) {
    .project-name {
        font-size: 4vh;
    }

    .remove-project {
        height: 4.5vh;
        width: 25vw;
        font-size: 3vh;
    }
}