.resize-h {
    max-height: 300px;
    width: auto;
}

.resize-w {
    max-width: 300px;
    height: auto;
}

.image-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-project {
    background: url(./icon-add-project.png) no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
}