.modal {
    position: fixed;
    z-index: 1;
    width: 400px;
    height: 100%;
}

.modal_content {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 100%;
    padding: 20px 0px;
    border-radius: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quit {
    width: 100%;
    padding-left: 20px;
}

.quit:hover {
    cursor: pointer;
}