.image-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    width: 100%;
}

img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.resize-h {
    max-height: 300px;
    width: auto;
}

.resize-w {
    max-width: 300px;
    height: auto;
}

.image-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-info-name {
    margin: 0px 20px;
}

.add-project {
    background: url(./icon-add-project.png) no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: none;
}

.delete-image {
    background: url(./icon-delete.png) no-repeat;
    background-size: 34px;
    width: 34px;
    height: 34px;
    border: none;
    margin-right: 20px;
}