.image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pic {
    align-self: center;
}

.resize-h {
    max-height: 300px;
    width: auto;
}

.resize-w {
    max-width: 300px;
    height: auto;
}

.image-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-info-name {
    margin: 0px 20px;
}

.add-project {
    background: url(./icon-add-project.png) no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: none;
}

.delete-image {
    background: url(./icon-delete.png) no-repeat;
    background-size: 34px;
    width: 34px;
    height: 34px;
    border: none;
    margin-right: 20px;
}